header {
    display: flex;
    justify-content: center;

    padding: 10px;
    background-color: dodgerblue;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

input {
    height: 30px;
    width: 250px;
}

button {
    height: 30px;
    min-width: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    padding: -10px;
}

.photo-card {
    margin: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.photo-card img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
 }